<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body dir="rtl" lang="fa" >
<nav class="navbar navbar-expand-lg navbar-light bg-light"  >



  <div class="collapse navbar-collapse" id="navbarSupportedContent"  style="background-color: dimgray; font-family: 'B Nazanin';float: right;width:100%;font-size:larger">
    <ul class="navbar-nav mr-auto" style="width: 100%" >

      <li> <img src="{{ url_for('static', filename='images/irancell_new.png' )}}"></li>
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
          مودم
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
          <a class="dropdown-item" href="#" >مودم اینترنت نسل 4 ثابت</a>
          <a class="dropdown-item" href="#">مودم همراه 3G/4G/4.5G</a>

        </div>
      </li>
        <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;" >
         سیمکارت
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
          <a class="dropdown-item" href="#" >سیمکارت اعتباری</a>
          <a class="dropdown-item" href="#">سیمکارت دائمی</a>
            <a class="dropdown-item" href="#">تعویض سیمکارت 3G به 4G</a>
            <a class="dropdown-item" href="#">سیمکارت هواداری</a>

        </div>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">حراج شماره های رند</a>
      </li>
             <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;" >
         بسته اینترنت و مکالمه
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">بسته اینترنت همراه</a>
          <a class="dropdown-item" href="#">بسته اینترنت ثابت</a>
            <a class="dropdown-item" href="#">بسته مکالمه</a>
            <a class="dropdown-item" href="#">بسته اینترنت هورا</a>
             <a class="dropdown-item" href="#">بسته ویژه، مشترکان غیرفعال TD-LTE</a>

        </div>
      </li>
    <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
          شارژ و پرداخت
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">شارژ سیمکارت اعتباری</a>
          <a class="dropdown-item" href="#">پرداخت قبض سیمکارت دائمی</a>

        </div>
      </li>
    </ul>

  </div>
</nav>
</body>
</html>
