<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container" style="background-color: lightgray;width: 100%;direction: rtl">
  <div class="row">
   <div class="row" style="font-family: 'B Nazanin';">
      <div ><h5>خرید</h5>
          <ul style="list-style-type: none">
               <li><a href="#ا">سیم‌کارت‌ها</a></li>
               <li><a href="#" >مودم‌ها</a></li>
               <li><a href="#" >گوشی‌ها</a></li>
               <li><a href="#" >بسته‌ها</a></li>
          </ul>
       </div>
    </div>

    <div class="row" style="font-family: 'B Nazanin';">
      <div ><h5>خدمات</h5>
          <ul style="list-style-type: none">
               <li><a href="#" >اینترنت پرسرعت</a></li>
               <li><a href="#" >برنامه‌های کاربردی</a></li>
               <li><a href="#" >رومینگ و تماس بین‌المللی</a></li>
               <li><a href="#" >پیام پیشواز</a></li>
               <li><a href="#" >آهنگ پیشواز</a></li>
               <li><a href="#" >کودکان و نوجوانان</a></li>
          </ul>
      </div>
    </div>
   <div class="row" style="font-family: 'B Nazanin';">
      <div ><h5>پیشنهادها</h5>
            <ul style="list-style-type: none">
                <li><a href="#">جشنواره ایرانسلی</a></li>
                <li><a href="#" >طرح‌های تعرفه</a></li>
                <li><a href="#">مزایای ایرانسلی‌ها</a></li>

            </ul>
      </div>
   </div>

   <div class="row" style="font-family: 'B Nazanin';">
      <div ><h5>حساب من</h5>
          <ul style="list-style-type: none">
                 <li><a href="#" >مدیریت حساب</a></li>
                 <li><a href="#" >شارژ سیم‌کارت اعتباری</a></li>
                 <li><a href="#" >پرداخت سیم‌کارت دائمی</a></li>
           </ul>
      </div>
   </div>

   <div class="row" style="font-family: 'B Nazanin';">
      <div ><h5>پشتیبانی</h5>
           <ul style="list-style-type: none">
               <li><a href="#">تماس با ما</a></li>
               <li><a href="#">مراکز فروش و خدمات</a></li>
               <li><a href="#">نمایندگان فروش</a></li>
               <li><a href="#">مطالب آموزشی</a></li>
               <li><a href="#" style="display:none">مناطق تحت پوشش</a></li>
               <li><a href="#">فهرست برندگان</a></li>

           </ul>
      </div>
   </div>

   <div class="row" style="font-family: 'B Nazanin';">
      <div ><h5>درباره ایرانسل</h5>
          <ul style="list-style-type: none">
              <li><a href="#" >معرفی ایرانسل</a></li>
              <li><a href="#" >خبرها</a></li>
			  <li><a href="#">بلاگ</a></li>
              <li><a href="#" >فرصت‌های شغلی</a></li>
               <li><a href="#">رویدادها و حمایت‌های مالی</a></li>
              <li><a href="#" >اطلاعیه‌ها و مناقصه‌ها</a></li>
			<li><a href="https://www.cra.ir/" >سازمان تنظیم مقررات</a></li>
          </ul>
      </div>
   </div>

  </div>
</div>
</body>
</html>