{% extends 'users/base.html' %}

{% block title %}Home page {% endblock %}
{% block content %}
{% include 'users/_includes/navigations.html' %}
    <br>
<div class="container">
  <div class="row">
    <div class="col-3" >
     <img class="d-block w-100" src="{{ url_for('static',filename='images/huawei Y5-290x216-2-01.png') }}" alt="huawei Y5">
        <div class="sideBannerDesc" style="background-color: white">

        <h6 class="text-right">گوشي هواوی Y5 lite + سيم كارت دائمي ايرانسل</h6>
<br>
        </div>
    </div>
    <div class="col-9" >
     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{ url_for('static',filename='images/E-shop-FA-.jpg') }}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ url_for('static',filename='images/Fathers-day---shop---17-esfand-98-FA.jpg') }}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ url_for('static',filename='images/golden_fa.jpg') }}" alt="Third slide">
    </div>
      <div class="carousel-item">
      <img class="d-block w-100" src="{{ url_for('static',filename='images/prepaid sim banner-03.png') }}" alt="4th slide">
      </div>
       <div class="carousel-item">
      <img class="d-block w-100" src="{{ url_for('static',filename='images/repair project eshop banner-01.png') }}" alt="5th slide">
       </div>
       <div class="carousel-item">
      <img class="d-block w-100" src="{{ url_for('static',filename='images/TD-LTE-Offer-21-Day-98-FA.jpg') }}" alt="6th slide">
       </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">قبلی</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">بعذی</span>
  </a>
</div>
    </div>

  </div>
<br>
<!-- start second row-->
 <div class="row">
    <div class="col-3">
      <img class="d-block w-100"  src="{{ url_for('static',filename='images/sideBanner1.jpg') }}" alt="huawei Y5">
        <div style="background-color: white">
            <h6 >ایرانسلی شو # دنیاتو تغییر بده</h6><br><br>
        <a href="#" >ترابرد رایگان به شبکه ایرانسل</a>
        </div>

    </div>
    <div class="col-9" style="position: relative;text-align: center" >
       <img class="d-block w-100" src="{{ url_for('static',filename='images/prepaid sim banner-02.png') }}" alt="huawei Y5"
       style="width: max-content;height: 300px">
    </div>

</div>
<div class="row" >

       <div class="col-3" style="background-color: white;">
        <form action="#" style="float: right" >
            <label style="float: right">شارژ مستقیم</label><br>
            <label style="float: right">شماره تلفن همراه</label><br>
            <input type="text" ><br>

         <select class="form-control" id="sel1">
        <option>1000</option>
        <option>2000</option>
        <option>5000</option>
       <option>10000</option>
        <option>20000</option>
         <option>سایر مبالغ</option>
         </select><br><br><br>
            <input type="submit" value="پرداخت" style="background-color:orange;">
        </form>
       </div>

    <div class="col-9" >
       <div class="row">
           <div class="col-3"><a href="#">مودم اینترنت تسل 4 ثابت(TD-LTE)</a> </div>
           <div class="col-3"><a href="#">مودم همراه3G/4G/4.5G </a></div>
           <div class="col-3"><a href="#">بیشتر</a></div>
           <hr >
       </div>
        <div class="row">
         <div class="col-3"  style="background-color: white;margin-right: 25px;margin-left: 25px">
              <img class="d-block w-100" src="{{ url_for('static',filename='images/1.png') }}" >
              <h6>مودم داخلی GP2101 Plus + بسته اینترنت پایه</h6><br>
             <h6 style="color: darkorange" >689,900 تومان</h6>
         </div>
           <div class="col-3"  style="background-color: white;margin-right: 25px;margin-left: 25px">
                <img class="d-block w-100" src="{{ url_for('static',filename='images/2.png') }}" >
               <p>مودم داخلی TK-2510 Plus + بسته اینترنت پایه</p><br>
             <p style="color: darkorange;" >689,900 تومان</p>
           </div>
           <div class="col-3"  style="background-color: white;margin-right: 25px;margin-left: 25px">
                <img class="d-block w-100" src="{{ url_for('static',filename='images/3.png') }}" >
               <p>مودم داخلی TFi60 + بسته اینترنت پایه</p><br>
             <p style="color: darkorange;" >1,155,900 تومان</p>
           </div>
        </div></div></div>
<br><br>
 <div class="row" >

    <div class="col-3" style="background-color: white;">

        <form action="#" style="float: right">
            <label style="float: right">افزایش سقف مصرف مجاز</label><br>
            <label style="float: right">شماره تلفن همراه</label><br>
            <input type="text" ><br><br>
<p>شماره همراه دائمی خود را وارد کنید</p><br>

            <input type="submit" value="بررسی و درخواست" style="background-color: orange">
        </form>



     </div>
    <div class="col-9" >
       <div class="row">
           <div class="col-2"><a href="#">سیمکارت دائمی</a> </div>
           <div class="col-2"><a href="#">سیمکارت اعتباری </a></div>
           <div class="col-2"><a href="#">سیمکارت هواداری </a></div>
           <div class="col-3"><a href="#">بیشتر</a></div>
       </div>
        <div class="row">

         <div class="col-3"  style="background-color: white;margin-right: 25px;margin-left: 25px">
              <img class="d-block w-100" src="{{ url_for('static',filename='images/New Design For E-Shop I-Sim-01.png') }}" >
             <p>سیمکارت دائمی</p><br>
             <p style="color: darkorange;" >60,000 تومان</p>
         </div>
           <div class="col-3"  style="background-color: white;margin-right: 25px;margin-left: 25px">
                <img class="d-block w-100" src="{{ url_for('static',filename='images/New Design For E-Shop I-Sim-02.png') }}" >
               <p>سیمکارت دائمی نقره ای</p><br>
             <p style="color: darkorange;" >100,000 تومان</p>
           </div>
           <div class="col-3"  style="background-color: white;margin-right: 25px;margin-left: 25px">
                <img class="d-block w-100" src="{{ url_for('static',filename='images/New Design For E-Shop I-Sim-03.png') }}" >
               <p>سیمکارت دائمی طلایی</p><br>
             <p style="color: darkorange;" >200,000 تومان</p>
           </div>
        </div></div></div>
    <div class="row">
     <p style="float: right">ممکن است دوست داشته باشید : </p><br>
        </div>

<div class="row">
    <div class="col-3" style="background-color: white;margin-right: 50px;margin-left: 15px" >
        <img class="d-block w-100"  src="{{ url_for('static',filename='images/11.jpg') }}" >
        <div style="background-color: white">
            <br><br>
        <a href="#" >5 گیگابایت اینترنت رایگان، ویژه تکمیل اطلاعات کاربری اینترنت TD-LTE</a>
        </div></div>
    <div class="col-3" style="background-color: white;margin-right: 15px;margin-left: 15px">
          <img class="d-block w-100"  src="{{ url_for('static',filename='images/22.jpg') }}" >
        <div style="background-color: white">
            <br><br>
            <h6>شماره‌ای همنام خود داشته باشید</h6>
        </div></div>
    <div class="col-3" style="background-color: white;margin-right:15px;">
          <img class="d-block w-100"  src="{{ url_for('static',filename='images/33.jpg') }}" >
        <div style="background-color: white">
            <br><br>
            <h6 >تا 80% تخفیف بسته اینترنت ثابت فقط برای شما</h6>

        </div></div>
</div>



</div><!-- end container-->
{% block js %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
{% endblock %}